body {
background-color: #D0404C;
align-content: center;

}

h1 {
color: FFFFFF;
}

#img {
height: 50%
}

#carte
{
 width: 800px;
margin:0 auto;
background-color: D0404C;
text-align: center;
align-content: center;
}

.myButton {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #002AFF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #002AFF;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}
